:root {
    --primary-color: #080808;
    --secondary-color: #1d1d1d;
    --background-color: #f8f9fa;
    --border-color: #cccccc;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    background: var(--background-color);
    background:
            linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            var(--dot-color);
    --dot-bg: white;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
}

.mbpe-panel {
    position: absolute;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    max-width: calc(100vw - 40px);
    margin: 20px;
    overflow: hidden;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.mbpe-panel__row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.mbpe-panel__group {
    display: flex; flex-direction: row; gap: 10px;
}

.mbpe-panel__form {
    box-sizing: border-box;
    display: grid;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.mbpe-input {
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.mbpe-select {
    padding: 10px 35px 10px 10px;
    font-size: 16px;
    color: var(--primary-color);
    appearance: none;
    cursor: pointer;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.mbpe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.mbpe-button:disabled {
    cursor: not-allowed;
}


.mbpe-panel__message {
    font-weight: bold;
    color: var(--secondary-color);
    text-align: center;
}

.mbpe-panel__result {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: calc(100vw - 40px);
    min-height: 66px;
    padding: 10px;
    overflow: auto;
    border-top: 1px solid var(--border-color);
}

.mbpe-tab {
    padding: 4px;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    background: transparent;
    border: 1px dashed var(--primary-color);
    border-radius: 24px;
    transition: 0.3s;
}

.mbpe-tab:hover {
    background: var(--primary-color);
}

.mbpe-tab--active {
    background: var(--primary-color);
}

.mbpe-chunk {
    display: flex;
    gap: 4px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.mbpe-token {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 0.875rem;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 20px;
}

.mbpe-container {
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.mbpe-container:not(:empty) {
    cursor: move;
}